body {
    margin: 0;
}

.app {
    display: flex;
    height: 100vh;
    .left {
        width: 50%;
        background-color: blue;
    }
    .right {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            width: 200px;
        }

        div {
            margin: 15px 0;
        }

        input {
            width: 30px;
            padding: 10px;
            margin: 0 10px;
        }

        button {
            border: 4px solid #db6f24;
            border-radius: 30px;
            background-color: white;
            padding: 6px 50px;
            cursor: pointer;
        }

        .box {
            box-shadow: 5px 10px 8px 10px #888888;
            height: 20vh;
            min-height: 250px;
            max-height: 500px;
            overflow-y: scroll;
            padding: 10px;

            p {
                margin: 0;
            }
        }
    }
}